{% extends 'website/layout.html' %} {% block styles %} {% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %} {% block content %} {% load website_filters %}
<main>
    <section class="search">
        <div class="layer hide-on-small"></div>
        <div class="container">
            <h1 class="index-header">Todas as vagas do Brasil aqui</h1>
            <h1 class="index-header-large hide-on-small">
                Trabalhosnobrasil.com.br todas as vagas aqui
            </h1>
            <form action="/search" class="search-form" method="get">
                <div class="input-group">
                    <label for="vaga_home">Cargo:</label>
                    <input type="text" name="vaga_home" placeholder=" {{ vaga.titulo }}" />
                </div>
                <div class="input-group">
                    <label for="local">Onde:</label>
                    <input type="text" name="local" placeholder=" {{ vaga.estado.nome }}" />
                </div>
                <button type="submit">
                    <span class="small-btn-text">Buscar Vagas</span>
                    <i class="fas fa-search large-btn-text hide-on-small"></i>
                </button>
            </form>
        </div>
    </section>
    <section class="call container hide-on-small">
        <h2>Seu próximo emprego está aqui</h2>
        <p>
            O nosso buscador visita minuto a minuto os principais sites de emprego e
            armazena todas as vagas, permitindo que você visite um único site para
            achar a vaga ideal.
        </p>
    </section>
    <section class="vagas-index hide-on-small">
        <h2>Últimas vagas</h2>
        <ul class="container lista-vagas">
            {% for vaga in vagas %}
            <li class="vaga">
                <a href="{% url 'vaga' vaga.titulo|snake_case vaga.id %}">{{ vaga.titulo }}</a>
            </li>
            {% endfor %}
            <a id="search2-btn" href="{% url 'vagas' %}">Todas as vagas</a>
        </ul>
    </section>
</main>
{% endblock %}