<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta property="og:site_name" content="Trabalhos no Brasil" />
  <meta property="og:title" content="Trabalhos no Brasil" />
  <meta property="og:type" content="website" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/global.css' %}" />
  {% block styles %} {% endblock styles %}
  <title>{% block title %}Trabalhos no Brasil{% endblock %}</title>
</head>

<body>
  <header>
    {% load static %}
    <img class="menu-logo" src="{% static 'img/menu-hamburguer.svg' %}" alt="logo menu hamburguer" />
    <p id="header-text">Trabalhos no Brasil</p>
  </header>
  <div class="content">
    {% block content %} {% endblock %}
  </div>

  <footer>
    <p>&copy; {% now "Y" %} Trabalhos no Brasil</p>
    <p>
      Site feito por
      <a href="https://github.com/AlexandreAguido/" target="_blank">Alexandre Aguido</a>
      e hospedado em
      <a href="https://m.do.co/c/e85d032defc7">DigitalOcean</a>
    </p>
  </footer>
</body>

</html>