{% extends 'website/layout.html' %} {% block styles %} {% load static %}
<link rel="stylesheet" href="{% static 'css/vaga.css' %}" />
{% endblock %} {% block content %}{% load website_filters %}
<main>
  <section class="vaga-container">
    <article class="vaga">
      <h1 id="vaga-title">{{vaga.titulo}}</h1>
      <p>Empresa: {% firstof vaga.empresa.nome 'Confidencial' %}</p>
      <p>Local: {% format_local vaga.cidade.nome vaga.estado.uf %}</p>
      <p>Salario: {% firstof vaga.salario|to_real 'Não informado' %}</p>
      <p>{% autoescape off %}{{vaga.descricao}} {% endautoescape %}</p>
      <button>
        <a id="vaga-link" target="_blakc" href="{{vaga.url}}"
          >Enviar Currículo</a
        >
      </button>
    </article>
  </section>
</main>
{% endblock %}
