{% extends 'website/layout.html' %} {% block styles %} {% load static %}
<link rel="stylesheet" href="{% static 'css/vagas.css' %}" />
{% endblock %} {% block content %} {% load website_filters %}
<aside><p>Filtros</p></aside>
<main>
  <div class="search-info">
    Resultados para
  </div>
  {% for vaga in page_data %}
  <div class="card">
    <h3>
      <a
        class="vaga-title"
        href="{% url 'vaga' vaga.titulo|snake_case vaga.id %}"
        >{{vaga.titulo}}</a
      >
    </h3>
    <p>{% format_local vaga.cidade.nome vaga.estado.uf %}</p>
    <p>Empresa: {% firstof vaga.empresa.nome 'Confidencial' %}</p>
    <p>Salario: {% firstof vaga.salario|to_real 'Não informado' %}</p>
  </div>
  {% endfor %}
  <div class="pagination card">
    {% if previous_page %}
    <a href="{% url 'vagas' previous_page %}">Anterior</a>
    {% endif %} {% if next_page %}
    <a href="{% url 'vagas' next_page %}">Proximo</a>
    {% endif %}
  </div>
</main>
{% endblock %}
