@import url("https://fonts.googleapis.com/css?family=Palanquin");
@import url("https://fonts.googleapis.com/css?family=Baloo");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
/* hide large elements*/
.hide-on-small {
  display: none;
}
a {
  text-decoration: none;
}
:root {
  --primary-color: #086fa1;
  --primary-color-font: #044362;
  --secondary-color-font: #00884a;
  --button-color: #5c9f5aff;
  --secondary-bg: #efefef;
}
html {
  height: 100%;
  box-sizing: border-box;
  min-width: 320px;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.content {
  display: grid;
  grid-template-areas:
    "header"
    "main";
}
header {
  grid-area: header;
  padding: 1em;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.4em;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 11fr;
  margin-bottom: 0.6em;
}
.menu-logo {
  margin-right: 0.5em;
}

#header-text {
  text-align: center;
}
.menu-mobile {
  display: grid;
  grid-template-columns: 2fr 8fr;
  align-items: center;
  justify-items: center;
  height: 100%;
  display: none;
}

.menu-mobile img {
  grid-column: 1/1;
}

.menu-mobile a {
  grid-column: 2/2;
  color: #fff;
  font-family: "Palanquin";
  font-weight: bold;
  font-size: 1.3em;
}

main {
  grid-area: main;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: var(--primary-color);
  padding: 2em 0 1em 0;
}

footer * {
  color: #fff;
}
footer a:hover {
  text-decoration: underline;
}

@media (min-width: 800px) {
  .menu-logo {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 2fr 7fr 1fr;
  }

  #header-text {
    grid-column-start: 2;
  }
}
