main {
  padding: 1em;
  grid-area: main;
}

.index-header {
  color: var(--primary-color-font);
  font-weight: 100;
  font-family: "Baloo";
  margin-bottom: 1.5em;
}

.search-form,
.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-group {
  width: 100%;
}

.input-group label {
  color: var(--primary-color-font);
  font-weight: 100;
  font-family: "Baloo";
  font-size: 1.3em;
}

.input-group input {
  width: 90%;
  margin-bottom: 2em;
  padding: 0.8em;
  font-size: 0.9em;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.search-form button {
  margin: 2em 0 3em 0;
  width: 90%;
  padding: 0.8em;
  background-color: var(--button-color);
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  border: 1px solod var(--button-color);
  border-radius: 5px;
}

.large-btn-text {
  display: none;
}
@media (min-width: 550px) {
  main {
    padding: 2em;
  }
  .index-header {
    text-align: center;
  }
}
@media (min-width: 800px) {
  .hide-on-small {
    display: block;
  }
  .content {
    grid-template-areas: "main";
  }

  header {
    display: none;
  }

  main {
    padding: 0;
  }
  .search {
    background-image: url("../img/handshake_colored.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    color: #fff;
    position: relative;
    min-height: 600px;
  }

  .layer {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(4, 67, 98, 0.3);
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .container {
    margin: 0 auto;
    padding: 2em;
    color: white;
  }
  .index-header {
    display: none;
  }
  .index-header-large {
    display: block;
    width: 90%;
    font-weight: 100;
    text-align: center;
    font-size: 2em;
    font-family: "Baloo";
    position: relative;
    z-index: 2;
    margin-top: 2em;
  }

  .index-header-large {
    position: absolute;
  }

  .search-form {
    position: relative;
    flex-direction: row;
    margin: 12em auto 0 auto;
    z-index: 2;
  }

  .search-form label {
    color: white;
  }

  .input-group {
    width: 70%;
    max-width: 600px;
  }

  .small-btn-text {
    display: none;
  }
  .large-btn-text {
    display: block;
  }

  input::placeholder {
    color: #044362;
    font-weight: 100;
  }

  .search-form button {
    width: 8em;
    max-width: 200px;
  }
  .fa-search {
    font-size: 1.4em;
  }

  .call {
    display: block;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 3em;
    min-height: 20vh;
    font-family: sans-serif;
  }

  .call h2 {
    margin-bottom: 2em;
    font-family: "Palanquin", sans-serif;
    font-size: 2em;
    color: var(--primary-color-font);
  }

  .call p {
    font-family: "Baloo", cursive;
    font-weight: 100;
    color: var(--primary-color-font);
    font-size: 1.2em;
    text-align: left;
  }
  .vagas-index {
    background-color: #f9f9f9;
    padding: 2em 0;
    font-family: sans-serif;
  }

  .vagas-index h2 {
    text-align: center;
    margin-bottom: 1em;
    font-family: "Palanquin", sans-serif;
    font-size: 2em;
    color: #044362;
  }
  .vaga {
    text-align: center;
  }
  .lista-vagas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: var(--secondary-background);
  }

  .lista-vagas li {
    margin-bottom: 0.5em;
  }

  .lista-vagas li a {
    color: #044362;
  }

  #search2-btn {
    padding: 0.8em 2em;
    text-align: center;
    margin: 6em auto 0 auto;
    display: block;
    width: 10em;
    font-size: 1.2em;
    background: var(--button-color);
    color: #fff;
    border: 1px solid var(--button-color);
    border-radius: 4px;
    grid-column-start: 2;
  }
  #search2-btn:hover {
    background-color: #457322;
    border: 1px solid #457322;
  }

  .lista-vagas li a:hover {
    text-decoration: underline;
  }
}
