body {
  background-color: var(--secondary-bg);
}

.vaga-container {
  margin: 1em 0;
  padding: 1em;
  min-height: 60vh;
  background-color: #fff;
}
.vaga {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#vaga-title {
  margin: 3em 0;
  font-size: 1.5em;
  color: var(--primary-color);
  align-self: center;
}

.vaga-container button {
  padding: 1em;
  background-color: var(--primary-color);
  border-radius: 5px;
  margin: 4em 0;
  font-weight: bold;
  width: 15em;
  align-self: center;
  outline: none;
  border: none;
}

#vaga-link {
  color: #fff;
}

@media (min-width: 800px) {
  .vaga-container {
    width: 80%;
    padding: 2em;
    margin: 2em auto;
  }
  header {
    grid-template-columns: 1fr 8fr 1fr;
  }
}
