body {
  background-color: var(--secondary-bg);
}
aside {
  display: none;
}
.search-info {
  background-color: #fff;
  color: var(--primary-color);
  font-weight: bold;
  text-align: center;
  padding: 0.7em 2em;
  margin-bottom: 1em;
}

.card {
  padding: 0.7em 0.5em;
  margin: 0.5em 0;
  background-color: #fff;
}

.vaga-title {
  color: var(--secondary-color-font);
}

.pagination {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}

.pagination a {
  color: var(--primary-color);
}

.pagination a:hover {
  text-decoration: underline;
}

@media (min-width: 800px) {
  .vaga-container {
    padding: 3em;
  }

  aside {
    display: block;
  }

  .content {
    grid-template-columns: 2fr 7fr 1fr;
    grid-gap: 1em;
  }

  aside {
    grid-column-start: 1;
    grid-row-start: 2;
    background: #fff;
    margin-bottom: 1em;
    margin-left: 1em;
    padding: 1em;
  }

  aside > p {
    text-align: center;
    color: var(--primary-color);
    font-weight: bold;
  }

  main {
    grid-column-start: 2;
  }
}
